In [1]:
import pandas as pd
import sqlite3
from sqlite3 import Error
import datetime as dt

In [2]:
def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection
    
def convert_date(data_in, column_names, format_in = '%d.%m.%Y'):
    for column in column_names:
        updated_column = [dt.datetime.strptime(x,format_in).date() if not pd.isnull(x) else None for x in data_in[column] ]
        data_in[column] = updated_column
        #print(f"minimum date of {column} = {sorted(updated_column, key=lambda x: (x is None, x))[0]}")
        #print(f"maximun date of {column} = {sorted(updated_column, key=lambda x: (x, x is None))[-1]}")
    return data_in

def difference_maker(df,col1,col2 ):
    ''' input strings of columns and dataframe, Returns a dataframe with the column name of choice '''
    df['balance_difference'] = df[col1] - df[col2]
    return df

def remove_spaces(df, col1):
    ''' input dataframe, column of interest. Return column with no spaces'''
    try:
        df[col1] = df[col1].str.strip()
    except:
        df[col1] = df[col1].replace(" ","")
    return df[col1]

def combine_strings(df,col1,col2,name_of_new_column):
    '''Input dataframe, then strings of columns to combine in the order you want then input name of new column'''
    df[name_of_new_column] = df[col1].astype(str) + ' ' + df[col2]
    return df

def print_info(df):
    print("============================================")
    print("Missing Values")
    print(df.isnull().sum())
    print("============================================")
    print("Describe")
    print(df.describe())
    print("============================================")
    print("Shape")
    print(df.shape)
    print(df.head(5))

# twm_accounts

In [3]:
accounts = pd.read_csv("twm_accounts.csv", sep = ";")
print_info(accounts)

============================================
Missing Values
acct_nbr               0
cust_id                0
acct_type              0
account_active         0
acct_start_date        0
acct_end_date       1266
starting_balance       0
ending_balance         0
dtype: int64
============================================
Describe
           acct_nbr       cust_id  starting_balance  ending_balance
count  1.409000e+03  1.409000e+03        1409.00000     1409.000000
mean   1.514986e+15  1.362989e+06        1435.35357     1011.754336
std    2.148991e+15  2.940584e+02        2186.69662     1559.986310
min    1.362480e+07  1.362480e+06           0.00000        0.000000
25%    1.362852e+07  1.362727e+06         189.23000      140.000000
50%    1.363252e+07  1.362985e+06         487.69000      553.610000
75%    4.561143e+15  1.363251e+06        2178.79000     1188.570000
max    4.561143e+15  1.363495e+06       27072.38000    22432.780000
============================================
Shape
(1409, 8)
           acct_nbr  cust_id acct_type account_active acct_start_date  \
0          13628063  1362806      SV               Y       10.12.1995
1  4561143213627090  1362709      CC               Y        15.3.1993
2  4561143213628360  1362836      CC               Y        18.3.1992
3          13633112  1363311      CK               Y         6.7.1995
4  4561143213633610  1363361      CC               Y        17.6.1994

  acct_end_date  starting_balance  ending_balance
0           NaN           1430.22          284.58
1           NaN            266.34          496.15
2           NaN             55.90         1000.00
3           NaN          11017.13          968.46
4           NaN            849.37          462.28

In [4]:
accounts = convert_date(accounts, ["acct_start_date","acct_end_date"])
accounts = difference_maker(accounts, "ending_balance", "starting_balance")

In [5]:
# creating the database
connection = create_connection("twm_banking.sqlite")

Connection to SQLite DB successful

In [6]:
accounts.to_sql("accounts", connection, if_exists = "replace")

# twm_checking_acct

In [7]:
checking_acct = pd.read_csv("twm_checking_acct.csv", sep = ";")
print_info(checking_acct)

============================================
Missing Values
cust_id               0
acct_nbr              0
minimum_balance       0
per_check_fee         0
account_active        0
acct_start_date       0
acct_end_date       468
starting_balance      0
ending_balance        0
dtype: int64
============================================
Describe
            cust_id      acct_nbr  minimum_balance  per_check_fee  \
count  5.200000e+02  5.200000e+02       520.000000     520.000000
mean   1.362992e+06  1.362993e+07      1355.384615       0.086250
std    2.954516e+02  2.954516e+03      1415.769243       0.074223
min    1.362480e+06  1.362480e+07       100.000000       0.000000
25%    1.362735e+06  1.362735e+07       100.000000       0.000000
50%    1.362992e+06  1.362993e+07       200.000000       0.150000
75%    1.363252e+06  1.363252e+07      3000.000000       0.150000
max    1.363495e+06  1.363495e+07      3000.000000       0.150000

       starting_balance  ending_balance
count        520.000000      520.000000
mean        2170.671154      656.522692
std         2706.952110     1145.049961
min          100.280000        0.000000
25%          261.825000       46.232500
50%         1056.145000      246.345000
75%         2804.915000      821.402500
max        27072.380000    13185.470000
============================================
Shape
(520, 9)
   cust_id  acct_nbr  minimum_balance  per_check_fee account_active  \
0  1362548  13625482             3000           0.00             Y
1  1362487  13624872             3000           0.00             Y
2  1363017  13630172             3000           0.00             Y
3  1362752  13627522              100           0.15             Y
4  1363282  13632822              100           0.15             Y

  acct_start_date acct_end_date  starting_balance  ending_balance
0      11.11.1986           NaN           6004.34          569.65
1       12.1.1995           NaN           2781.07         1401.21
2       19.3.1994           NaN           2694.91          147.15
3        8.1.1994           NaN            487.69            3.76
4        5.3.1988           NaN            133.90           84.18

In [8]:
checking_acct = convert_date(checking_acct, ["acct_start_date","acct_end_date"])
checking_acct = difference_maker(checking_acct, "ending_balance", "starting_balance")
checking_acct.to_sql("checking_acct", connection, if_exists = "replace")

# checking_tran

In [9]:
checking_tran = pd.read_csv("twm_checking_tran.csv", sep = ";")
print_info(checking_tran)

============================================
Missing Values
cust_id          0
tran_id          0
tran_amt         0
principal_amt    0
interest_amt     0
new_balance      0
tran_date        0
tran_time        0
channel          0
tran_code        0
dtype: int64
============================================
Describe
            cust_id       tran_id      tran_amt  principal_amt  interest_amt  \
count  4.620400e+04  46204.000000  46204.000000   46204.000000  46204.000000
mean   1.362998e+06     47.823175    -17.039341     -17.155132      0.115790
std    2.957497e+02     28.457501    246.405359     246.395847      0.845523
min    1.362480e+06      1.000000  -3312.410000   -3312.410000      0.000000
25%    1.362740e+06     23.000000    -80.000000     -80.000000      0.000000
50%    1.362997e+06     47.000000     -0.750000      -0.750000      0.000000
75%    1.363262e+06     72.000000      0.000000       0.000000      0.000000
max    1.363495e+06     99.000000   5355.050000    5355.050000     27.300000

        new_balance
count  46204.000000
mean    1152.162744
std     2009.266714
min        0.000000
25%       78.440000
50%      407.490000
75%     1522.675000
max    29868.390000
============================================
Shape
(46204, 10)
   cust_id  tran_id  tran_amt  principal_amt  interest_amt  new_balance  \
0  1363481       26     -0.15          -0.15           0.0        58.99
1  1362784       90   -200.00        -200.00           0.0      1380.69
2  1363088       46      0.00           0.00           0.0       128.35
3  1363306       32    -40.32         -40.32           0.0       433.06
4  1363251       11    -87.88         -87.88           0.0      1919.55

   tran_date     tran_time channel tran_code
0  29.1.1995                            FK
1   2.7.1995         53313      A       WD
2  26.3.1995           834      A       IQ
3  29.1.1995                    P       WD
4   8.2.1995                    P       WD

In [10]:
checking_tran = convert_date(checking_tran, ["tran_date"])
checking_tran.to_sql("checking_tran", connection, if_exists = "replace")

# credit_acct

In [11]:
credit_acct = pd.read_csv("twm_credit_acct.csv", sep = ";")
print_info(credit_acct)

============================================
Missing Values
cust_id               0
acct_nbr              0
credit_limit          0
credit_rating         0
account_active        0
acct_start_date       0
acct_end_date       423
starting_balance      0
ending_balance        0
dtype: int64
============================================
Describe
            cust_id      acct_nbr  credit_limit  credit_rating  \
count  4.680000e+02  4.680000e+02    468.000000     468.000000
mean   1.362986e+06  4.561143e+15   2647.649573       0.316239
std    2.920717e+02  2.920717e+03   2293.771202       1.453930
min    1.362480e+06  4.561143e+15   1000.000000       0.000000
25%    1.362727e+06  4.561143e+15   1000.000000       0.000000
50%    1.362974e+06  4.561143e+15   1900.000000       0.000000
75%    1.363238e+06  4.561143e+15   3000.000000       0.000000
max    1.363493e+06  4.561143e+15  17300.000000      10.000000

       starting_balance  ending_balance
count        468.000000      468.000000
mean        1123.257521     1184.885662
std         1636.254478     1363.065314
min            0.000000        0.000000
25%            0.000000      353.187500
50%          568.300000     1000.000000
75%         1631.635000     1358.717500
max        11394.660000     9500.000000
============================================
Shape
(468, 9)
   cust_id          acct_nbr  credit_limit  credit_rating account_active  \
0  1363160  4561143213631600          1000              0             Y
1  1362487  4561143213624870          3000              0             Y
2  1362548  4561143213625480          6700              0             Y
3  1362752  4561143213627520          2400              0             N
4  1363017  4561143213630170          1000              0             Y

  acct_start_date acct_end_date  starting_balance  ending_balance
0      12.10.1988           NaN            657.46          286.69
1        8.8.1995           NaN              0.00         1548.23
2      11.11.1986           NaN           6965.25           68.68
3       9.10.1994      2.4.1995           2302.14            0.00
4        8.2.1995           NaN              0.00         1000.00

In [12]:
credit_acct = convert_date(credit_acct, ["acct_start_date","acct_end_date"])
credit_acct = difference_maker(credit_acct, "ending_balance", "starting_balance")
credit_acct.to_sql("credit_acct", connection, if_exists = "replace")

# credit_tran

In [13]:
credit_tran = pd.read_csv("twm_credit_tran.csv", sep = ";")
print_info(credit_tran)

============================================
Missing Values
cust_id          0
tran_id          0
tran_amt         0
principal_amt    0
interest_amt     0
new_balance      0
tran_date        0
tran_time        0
channel          0
tran_code        0
dtype: int64
============================================
Describe
            cust_id       tran_id      tran_amt  principal_amt  interest_amt  \
count  2.016700e+04  20167.000000  20167.000000   20167.000000  20167.000000
mean   1.362987e+06     28.543065      0.773537      -1.429786      2.208701
std    2.934641e+02     21.946014    455.914969     451.535918      8.135091
min    1.362480e+06      1.000000  -1565.500000   -1565.500000      0.000000
25%    1.362730e+06     12.000000   -166.790000    -166.790000      0.000000
50%    1.362980e+06     24.000000    -67.510000     -67.510000      0.000000
75%    1.363249e+06     40.000000      0.000000       0.000000      0.000000
max    1.363492e+06    155.000000  17464.520000   17300.000000    164.520000

        new_balance
count  20167.000000
mean   -1130.349441
std     1377.689559
min   -17300.000000
25%    -1411.110000
50%     -766.210000
75%     -334.290000
max        0.000000
============================================
Shape
(20167, 10)
   cust_id  tran_id  tran_amt  principal_amt  interest_amt  new_balance  \
0  1363088       46   -121.49        -121.49           0.0      -141.00
1  1363306       32   -220.64        -220.64           0.0      -520.13
2  1362959       10      0.00           0.00           0.0     -3900.00
3  1363429       13   -195.27        -195.27           0.0     -1739.74
4  1363393       14    -37.32         -37.32           0.0      -198.98

    tran_date tran_time channel tran_code
0  20.10.1995    101144      E       CG
1  13.10.1995     83115      E       CG
2   26.2.1995     84129      K       IQ
3    3.1.1995    191815      E       CG
4    4.7.1995    100811      E       CG

In [14]:
credit_tran = convert_date(credit_tran, ["tran_date"])
credit_tran.to_sql("credit_tran", connection, if_exists = "replace")

# customers

In [15]:
customers = pd.read_csv('twm_customer.csv', sep = ';') 
remove_spaces(customers, 'street_nbr')
remove_spaces(customers, 'street_name')
remove_spaces(customers, 'last_name')
remove_spaces(customers, 'first_name')
combine_strings(customers, 'street_nbr', 'street_name','full_address')
combine_strings(customers, 'first_name', 'last_name','full_name')
print_info(customers)

============================================
Missing Values
cust_id            0
income             0
age                0
years_with_bank    0
nbr_children       0
gender             0
marital_status     0
name_prefix        0
first_name         0
last_name          0
street_nbr         0
street_name        0
postal_code        0
city_name          0
state_code         0
full_address       0
full_name          0
dtype: int64
============================================
Describe
            cust_id         income         age  years_with_bank  nbr_children  \
count  7.470000e+02     747.000000  747.000000       747.000000    747.000000
mean   1.362991e+06   22728.281124   42.479250         3.907631      0.714859
std    2.925255e+02   22207.221405   19.114879         2.675634      1.103410
min    1.362480e+06       0.000000   13.000000         0.000000      0.000000
25%    1.362732e+06    7118.500000   28.000000         2.000000      0.000000
50%    1.362993e+06   17242.000000   42.000000         4.000000      0.000000
75%    1.363244e+06   31338.000000   56.000000         6.000000      1.000000
max    1.363495e+06  144157.000000   89.000000         9.000000      5.000000

       marital_status    street_nbr   postal_code
count      747.000000    747.000000    747.000000
mean         1.882195   8523.109772  59502.690763
std          0.892051   5219.488263  31205.926508
min          1.000000    196.000000   2149.000000
25%          1.000000   4295.500000  33145.000000
50%          2.000000   8001.000000  64132.000000
75%          2.000000  12039.000000  90082.000000
max          4.000000  19940.000000  98186.000000
============================================
Shape
(747, 17)
   cust_id  income  age  years_with_bank  nbr_children gender  marital_status  \
0  1362691   26150   46                5             1     M                2
1  1362487    6605   71                1             0     M                2
2  1363160   18548   38                8             0     F                1
3  1362752   47668   54                3             0     F                1
4  1362548   44554   59                9             2     F                4

  name_prefix first_name last_name  street_nbr street_name  postal_code  \
0                 Donald     Marek        8298      Second        89194
1               ChingDyi  Moussavi       10603    Daffodil        90159
2                   Rosa  Johnston        8817    Figueroa        90024
3                   Lisa    Martin         676      Humble        90172
4                Barbara  O'Malley        6578           C        10138

                                  city_name state_code    full_address  \
0  Las Vegas                                      NV       8298 Second
1  Los Angeles                                    CA    10603 Daffodil
2  Los Angeles                                    CA     8817 Figueroa
3  Los Angeles                                    CA        676 Humble
4  New York City                                  NY            6578 C

           full_name
0       Donald Marek
1  ChingDyi Moussavi
2      Rosa Johnston
3        Lisa Martin
4   Barbara O'Malley

In [16]:
customers.to_sql("customers", connection, if_exists = "replace")

# savings_acct

In [17]:
savings_acct = pd.read_csv("twm_savings_acct.csv", sep = ";")
print_info(savings_acct)

============================================
Missing Values
cust_id               0
acct_nbr              0
minimum_balance       0
acct_type             0
account_active        0
acct_start_date       0
acct_end_date       375
starting_balance      0
ending_balance        0
dtype: int64
============================================
Describe
            cust_id      acct_nbr  minimum_balance  starting_balance  \
count  4.210000e+02  4.210000e+02       421.000000        421.000000
mean   1.362987e+06  1.362988e+07       194.061758        874.060950
std    2.951807e+02  2.951807e+03       169.839941       1704.224338
min    1.362480e+06  1.362480e+07       100.000000        100.240000
25%    1.362722e+06  1.362722e+07       100.000000        180.220000
50%    1.362980e+06  1.362980e+07       100.000000        310.620000
75%    1.363253e+06  1.363253e+07       100.000000        742.280000
max    1.363495e+06  1.363495e+07       500.000000      17303.420000

       ending_balance
count      421.000000
mean      1258.060736
std       2054.680311
min          2.740000
25%        254.020000
50%        619.050000
75%       1535.830000
max      22432.780000
============================================
Shape
(421, 9)
   cust_id  acct_nbr  minimum_balance acct_type account_active  \
0  1363160  13631603              100      BS               Y
1  1362487  13624873              500      MM               N
2  1362548  13625483              100      BS               Y
3  1362752  13627523              100      BS               Y
4  1363017  13630173              100      BS               N

  acct_start_date acct_end_date  starting_balance  ending_balance
0        9.5.1988           NaN            113.04          122.54
1       27.6.1994     25.8.1995            651.73           12.89
2      11.11.1986           NaN            250.24          254.02
3       20.2.1995           NaN            600.26          609.33
4       27.4.1994    31.10.1995           2011.02         2901.35

In [18]:
savings_acct = convert_date(savings_acct, ["acct_start_date","acct_end_date"])
savings_acct = difference_maker(savings_acct, "ending_balance", "starting_balance")
savings_acct.to_sql("savings_acct", connection, if_exists = "replace")

# saving_tran

In [19]:
saving_tran = pd.read_csv("twm_savings_tran.csv", sep = ";")
print_info(saving_tran)

============================================
Missing Values
cust_id          0
tran_id          0
tran_amt         0
principal_amt    0
interest_amt     0
new_balance      0
tran_date        0
tran_time        0
channel          0
tran_code        0
dtype: int64
============================================
Describe
            cust_id       tran_id      tran_amt  principal_amt  interest_amt  \
count  1.118900e+04  11189.000000  11189.000000   11189.000000  11189.000000
mean   1.362988e+06     16.113504     14.458362      13.628621      0.829741
std    2.979129e+02     11.024730    221.971173     222.003741      2.856393
min    1.362480e+06      1.000000  -2495.880000   -2495.880000      0.000000
25%    1.362720e+06      7.000000     -0.750000      -0.750000      0.000000
50%    1.362978e+06     14.000000      0.390000       0.000000      0.000000
75%    1.363262e+06     23.000000      7.340000       0.000000      0.480000
max    1.363495e+06     62.000000   4478.610000    4478.610000     44.680000

        new_balance
count  11189.000000
mean    1229.467968
std     2256.670395
min        0.070000
25%      238.480000
50%      562.040000
75%     1247.300000
max    26016.690000
============================================
Shape
(11189, 10)
   cust_id  tran_id  tran_amt  principal_amt  interest_amt  new_balance  \
0  1363481       26    136.03         136.03          0.00      1521.57
1  1362746        1      2.83           0.00          2.83      2265.90
2  1363251       11     13.56           0.00         13.56      5438.90
3  1362542        4      0.76           0.00          0.76       610.92
4  1363387       11    148.69         148.69          0.00       470.05

    tran_date tran_time channel tran_code
0  26.10.1995     84111      A       DP
1   31.1.1995    235959              IN
2   30.4.1995    235959              IN
3   30.4.1995    235959              IN
4   21.5.1995    144736      E       DP

In [20]:
saving_tran = convert_date(saving_tran, ["tran_date"])
saving_tran.to_sql("saving_tran", connection, if_exists = "replace")

# transactions

In [21]:
transactions = pd.read_csv("twm_transactions.csv", sep = ";")
print_info(transactions)

============================================
Missing Values
tran_id          0
acct_nbr         0
tran_amt         0
principal_amt    0
interest_amt     0
new_balance      0
tran_date        0
tran_time        0
channel          0
tran_code        0
dtype: int64
============================================
Describe
            tran_id      acct_nbr      tran_amt  principal_amt  interest_amt  \
count  77580.000000  7.758000e+04  77580.000000   77580.000000  77580.000000
mean      38.228332  1.185674e+15     -7.748275      -8.509662      0.762784
std       27.838521  2.000564e+15    312.684674     311.006502      4.427059
min        1.000000  1.362480e+07  -3312.410000   -3312.410000      0.000000
25%       15.000000  1.362824e+07   -100.000000    -100.000000      0.000000
50%       32.000000  1.363199e+07     -1.815000      -1.815000      0.000000
75%       59.000000  4.561143e+15      0.170000       0.000000      0.000000
max      155.000000  4.561143e+15  17464.520000   17300.000000    164.520000

        new_balance      tran_time
count  77580.000000   77580.000000
mean     571.571177  104277.077984
std     2158.948572   87527.030938
min   -17300.000000       0.000000
25%        0.000000       0.000000
50%      180.400000  110626.000000
75%      957.252500  184245.250000
max    29868.390000  235959.000000
============================================
Shape
(77580, 10)
   tran_id  acct_nbr  tran_amt  principal_amt  interest_amt  new_balance  \
0       27  13625623      0.00           0.00           0.0      3753.34
1       97  13628392      0.00           0.00           0.0       254.49
2       21  13630842    -97.57         -97.57           0.0      3819.56
3       44  13631412     -0.15          -0.15           0.0       224.05
4       31  13625722      0.00           0.00           0.0       240.55

    tran_date  tran_time channel tran_code
0  21.10.1995     121656      A       IQ
1    5.2.1995     153053      V       IQ
2   23.7.1995          0      P       WD
3   30.1.1995          0              FK
4   25.1.1995     204521      B       IQ

In [22]:
transactions = convert_date(transactions, ["tran_date"])
transactions.to_sql("transactions", connection, if_exists = "replace")